<h1>Restaurant <%= @restaurant.name %></h1>

<div class="list-group">
  <div class="list-group-item">
    <h3>Address:</h3>
    <p><%= @restaurant.address %></p>
  </div>
  <div class="list-group-item">
    <h3>Phone number:</h3>
    <p><%= @restaurant.phone_number %></p>
  </div>
  <div class="list-group-item">
    <h3>Category:</h3>
    <p><%= @restaurant.category %></p>
  </div>
</div>


<%# t.string "phone_number"
    t.string "category" %>
